<!DOCTYPE html>
<html lang="en">

<head>
</head>
<html>

<body>
    <h1>Card Details:</h1>

    <table style="display: inline;">
        <tr>
            <td>Name: </td>
            <td><%= friendName %></td>
        </tr>
        <tr>
            <td>Cards: </td>
        </tr>
        <% friendCards.map(card => { %>
        <tr>
            <td>
            <%= card.name %>
            </td>
        </tr>
        <% }) %>
        </table>
</body>

</html>