html
	head
		title Store Manager Products Page
body
	include ../partials/header

	div#main
		p ID: #{product.id}
		p Name: #{product.name}
		p Price: #{product.price}
		p Featured: #{product.featured}
			
	include ../partials/footer
