<!DOCTYPE html>
<html lang="en">

<head>
    <!-- why isn't this working -->
    <%include partials/header.ejs%>
</head>
<html>

<body>
    Welcome to my restaurant.
</body>
<footer>
    <%include partials/footer.ejs %>
</footer>

</html>