<!DOCTYPE html>
<html lang="en">

<head>
    <!-- why isn't this working -->
    <%include /partials/header%>
</head>
<html>

<body>
    Welcome to my restaurant.
</body>
<footer>
    <%include /partials/footer %>
</footer>

</html>