html
	head
		title Restaurant Home Page
body
	include ../partials/header

	div#main
		h1 Welcome to the Restaurant Ordering System!
		br
	script(src="/client.js")
	include ../partials/footer