<form action="/register" method="post">
    <label for="username">Username: </label>
    <input id="username" type="text" name="name_field">
    <br><br>
    <label for="password">Password: </label>
    <input id="password" type="text" name="name_field">
    <br><br>
    <input type="submit" value="Register">
</form>