<div class="header">
    <nav>
        <a href="/">Home</a>
        <a href="#" id="logout" style="display: none;" onclick="logout()">Logout</a>

    </nav>
</div>
<script>
    function showProfile(event){
        event.preventDefault();
        const userId = JSON.parse(sessionStorage.getItem("user"))._id;
        document.getElementById("details").setAttribute("href", `/users/${userId}`);
        window.location.href = `/users/${userId}`;
    }

    function checkUserInSession(){
        // let user;

        if (sessionStorage.getItem("user")){
            document.getElementById("logout").style.display = "inline";
        }
        else {
            document.getElementById("logout").style.display = "none";
            // window.location.href = "/";
        }
    }

    function logout(){
        
        const user = sessionStorage.getItem("user") ? JSON.parse(sessionStorage.getItem("user")): null;
        
        console.log("Sending POST to Backend to logout");
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/logout", true);
        xhr.setRequestHeader("content-type", "application/json");
        xhr.onload = function(){
            if (xhr.status === 200){
                sessionStorage.clear();
                alert(JSON.parse(xhr.responseText).msg);
                window.location.href = "/";
            }
            else {
                alert(JSON.parse(xhr.responseText).msg);
            }
        }
        xhr.onerror = function(){
            alert(JSON.parse(xhr.responseText).msg);
            return;
        }
        xhr.send(JSON.stringify({user}));

        // window.location.href = "/";
    }
</script>